.project {

  background: #00bcd4;

  .main-container{
      margin: 7rem auto;

      .container-project {
        margin: 0 auto;
        width: 25rem;
        height: 20rem;
        position: relative;
        perspective: 1000px;
    
        .carousel {
          height: 100%;
          width: 100%;
          position: absolute;
          transform-style: preserve-3d;
          transition: transform 1s;
    
    
          .item {
            display: block;
            position: absolute;
            background: #000;
            width: 26rem;
            height: 30rem;
            line-height: 200px;
            font-size: 5em;
            text-align: center;
            color: #FFF;
            opacity: 0.95;
            border-radius: 10px;
    
            &.a {
              transform: rotateY(0deg) translateZ(250px);
              background: #ed1c24;
            }
            &.b {
              transform: rotateY(60deg) translateZ(250px);
              background: #0072bc;
            }
            &.c {
              transform: rotateY(120deg) translateZ(250px);
              background: #39b54a;
            }
            &.d {
              transform: rotateY(180deg) translateZ(250px);
              background: #f26522;
            }
            &.e {
              transform: rotateY(240deg) translateZ(250px);
              background: #630460;
            } 
            &.f {
              transform: rotateY(300deg) translateZ(250px);
              background: #8c6239;
            }
          }
        }
      }

  }

  

  .next, .prev {
    font-size: 1.6rem;
    color: #FFF;
    position: absolute; 
    padding: 1em 2em;
    cursor: pointer;
    background: #333;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #888;
    transition: box-shadow 0.1s, top 0.1s;

    &.next:hover, +.prev:hover { color: #999; }
    &.next:active, +.prev:active {
      
      box-shadow: 0 1px 0 #999;
    }
  }
  
  .next { right: 5em; }
  .prev { left: 5em; }

}








// .e {
//   transform: rotateY(240deg) translateZ(250px);
//   background: #630460;
// } 
// .f {
//   transform: rotateY(300deg) translateZ(250px);
//   background: #8c6239;
// }

