@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


html{
  font-size: 62.5%;
}
/*Organizando o menu hamburguer superior direito*/
.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url('../assets/images/menu.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;

    &.active {
        background: #000 url('../assets/images/close.png');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/*pagina inicial*/
section {
    background: var(--body-color);
    padding: 100px;
    min-height: 100vh;

    &.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;


    .imgSidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

    }

  }


  


}


/*------Conteudo---------*/
.contentBox, .sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;

  h4 {
      font-size: 3.5rem;
      color: var(--text-color);
      font-weight: 300;

      span {
        color: var(--base-color);
        font-size: 1.5em;
        font-weight: 700;
    }

  }

  h2 {
      font-size: 5rem;
      color: var(--purple);
      line-height: 4rem;
  }
}


p {
    color: var(--text-color);
    font-size: 1.7rem;
    margin: 20px 0;
    font-weight: 300;
}



.btn {
    background: var(--base-color);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 2rem;

    &:hover
    {
        background: var(--text-color);
        transition-duration: 0.5s;
    }
}


 
/* ------MENU LATERAL ----------*/
.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;

    &.active {
        right: 0;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li {
          list-style: none;

          a {
            color: #fff;
            text-decoration: none;
            font-size: 4rem;
            margin: 10px 0;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;

            &:hover {
                color: var(--base-color);
          }
        }
      }
    }

}

 
/* ------LINK,INST,GIT (IMGS) ----------*/
.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 10px;
      list-style: none;

      img {
        width: 65px;
        transform: scale(0.5);
        opacity: 0.7;

        &:hover {
          transform: scale(0.8);
          transition: 0.3s;
          opacity: 1;
      }
    }
  }
}


/* ------SOBRE ----------*/
.title {
    width: 100%;
    text-align: center;

    h2 {
      position: relative;
      color:var(--base-color);
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 1px;

      p {
          max-width: 700px;
          display: inline-block;
      }

      &::before, .skills h2::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        width: 60px;
        height: 4px;
        background: #000;
    }
  }

  &.black p {
    color:var(--text-color);
  }

  &.white h2, p {
      color: #fff;
   
  }
  &.white h2::before {
      background: #fff;
  }


}




/* ----------ABOUT---------------*/
.about {
    background: #000;

    .content {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      text-align: justify;

      .textBx {
          min-width: 49%;
          width: 49%;

          p {
          color: #fff;
      }
    }

      .imgBx {
        margin-left: 40px;
    
        img {
            max-width: 100%;
        }
      }
  }
}


/* ----------SKILLS---------------*/
.skills .skills-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: justify;

  .column { 
      width: calc(50% - 30px);
  }

  /*------Habilidades ----e-----Experiencia-----*/

  .left .text {
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 1rem;
      color: var(--text-color);

      .hab {
          font-weight: bolder;
          font-size: 3rem;
      }

      .exp {
          font-weight: bolder;
          font-size: 3rem;   

      }

      .simbol {
          color: var(--base-color);
          font-weight: 700;
          font-size: 3.6rem;
      }
  }
 
  /*----------ends here--------------------*/
  .right .bars {   
      margin-bottom: 15px; 
      
        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

        span {
          font-weight: 500;
          font-size: 1.9rem;
      }

        .line {
          height: 5px;
          width: 100%;
          background: var(--text-color);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background:var(--base-color);
        }
    }
  
}

  /*-----HABILIDADES PORCENTAGEM------- */

  .right {
      .html::before {
        width: 30%;
    }

      .css::before {
        width: 35%;
    }

      .js::before {
        width: 45%;
    }

      .sql::before {
        width: 30%;
    }

      .java::before {
        width: 30%;
    }
  }
  
}


/*------------Contatos---------*/
.contact {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contactForm {
      position: relative;
      width: 700px;
      margin-top: 20px;

      .row {
        width: 100%;
        display: flex;

        .col50 {
          width: 50%;
          margin: 10px;
      }

        .col100 {
          width: 100%;
          margin: 10px;
          text-align: center;
      }

      input, textarea {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          background: #111;
          color: #fff;
          font-size: 1.6rem;
          resize: none;
      }

      textarea {
          height: 100px;
      }

      input[type="submit"] {
          background-color: var(--base-color);
          color: #fff;
          padding: 10px 30px;
          display: inline-block;
          font-weight: 500;
          letter-spacing: 2px;
          cursor: pointer;
          max-width: 150px;

          &:hover{
            background: var(--text-color);
            transition-duration: 0.5s;
        }
      }
    }
  }
}
//scroll-behavior: smooth **;
//scroll-behavior: smooth;
//scroll-behavior: smooth;




