@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*Organizando o menu hamburguer superior direito*/
.toggle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url('../images/menu.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;

    &.active {
        background: #000 url('../images/close.png');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}


