/*Corrigindo a exibição em telas menores*/
@media (max-width: 2000px) {
  html {
    font-size: 78.5%;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 72.5%;
  }
}

@media (max-width: 1380px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 48%;
  }

  .skills .skills-content .left .text {
      font-size: 11px;
  }
}



@media (max-width: 1024px) {
  html {
    font-size: 47%;
  }
  
  .skills .skills-content .left .text {
      font-size: 11px;
  }
}

@media (max-width: 991px) {
    html {
      font-size: 58.5%;
    }
    .banner .imgSidebar
    {
        display: none;
    }
    .banner .contentBox .sidebar
    {  
        width: max-content;
        padding: 30px;
    }
    .sidebar.active{
        width: max-content;
        font-size: 2.4rem;
    }
    .logoText
    {
        left:20px;
        top: 20px;
    }
    .banner 
    {
        right: 5px;
    }
    .sci
    {
        left: 50%;
        bottom: 0;
    }
    section
    {
        padding: 30px;
    }
    .about .content
    {
        flex-direction: column;
        margin-top: 0;
    }
    .about .content .textBx
    {
        min-width: 100%;
        width: 100%;
    }

    .banner .contentBox, .sidebar
    {
        display: flex;
        width: auto;
        text-align: justify;
        padding: 30px;
    }
    
    .about .content .imgBx
    {
        margin-left: 0;
    }
    .skills-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: justify;
    }
    .skills .skills-content
    {
        justify-content: center;
    }
    .skills .skills-content .column
    {
        width: auto;
    }
    .contact .contactForm
    {
        width: 100%;
    }
    .contactForm .row
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contactForm .row .col50
    {
        width: 100%;
    }
    .sidebar ul li a
    {
        font-size: 1.5em;
    }
    .sidebar.active
    {
        width: 50%;
    }
    .skills .skills-content .left .text
    {
        text-align: center;
    }
}

@media (max-width: 736px) {
    .contentBox {
      
      > h4 {
        font-size: 3.2rem;
      }
  }
}

@media (max-width: 667px) {
  html {
    font-size: 54.5%;
  }

  .toggle {
      margin-right: 10px;
  }

  .sci {
    left: 20%;
      bottom: 0;
  } 

  .sidebar.active {
      width: 100%;
      font-size: 2rem;
  }

  p {
      font-size: 1.7rem;
      margin: 18px 0;
      font-weight: 300;
  }
}

@media (max-width: 482px) {
  html {
    font-size: 48.5%;
  }

  .contentBox h4, .sidebar h4 {
    font-size: 3.1rem;
  }
}

@media (max-width: 420px){
  .sidebar ul li a {
    font-size: 2.5em;
  }
  .submit-button {
    font-size: 2.2rem;
  }
  .contact .contactForm .row input, .contact .contactForm .row textarea {
    font-size: 2.5rem;
  }
  span {
    font-weight: 500;
    font-size: 2.5rem;
  }
  .skills .skills-content .left .text {
    font-size: 2.5rem;
  }
  .btn {
    letter-spacing: 3px;
    font-size: 2.5rem;
    margin-top: 29px;
  }
  html {
      font-size: 45%;
    }
}

@media (max-width: 360px) {
  html {
    font-size: 38.5%;
  }
}